.section-cyan {
    background: #0FB9B1;
    color: #ffffff;
    .header {
        color: #ffffff;
    }
    h4 {
        color: #ffffff;
    }
    .rounded-circle {
        border: 2px solid #ffffff;
    }
    .circle-icon {
        color: #1D1D1D;
    }
    .item-box {
        background: #ffffff;
    }
    p {
        color: white;
    }
    i {
        color: #ffffff;
    }
    // media
    .media {
        color: $white;
        border-color: $white;
    }
    // buttons
    .btn-outline-primary {
        border-color: $white;
        color: $white;
        &:hover {
            background: $white;
            color: $cyan;
        }
    }
    .btn-zaitra-primary {
        border: 1px solid $white;
        color: $white;

        &:hover {
            background: $white;
            color: $cyan;
        }
    }
}
