.section-cyan {
    background: #0FB9B1;
    .header {
        color: #ffffff;
    }
    h4 {
        color: #ffffff;
    }
    .rounded-circle {
        border: 2px solid #ffffff;
    }
    .circle-icon {
        color: #1D1D1D;
    }
    .item-box {
        background: #ffffff;
    }
    p {
        color: white;
    }
    i {
        color: #ffffff;
    }
}
