 /*
 * GREY
 */
 .section-grey {
    background-color: #1D1D1D;
    .header {
        color: #0FB9B1;
    }
    h4 {
        color: #ffffff;
    }
    p {
        color: #919191;
    }
    .icon {
        color: #919191
    }
    .link {
        color: #0FB9B1;
    }
    .circle-icon {
        color: #0FB9B1;
    }
    .subtitle {
        color: #ffffff;
    }
    .rounded-circle {
        border: 2px solid #0fb9b0;
    }
    .icon:hover {
        color: #0FB9B1;
    }
    .subtitle {
        color: #ffffff;
    }
    // media
    .media {
        color: $white;
        border-color: $grey;
    }
    // buttons
    .btn-outline-primary {
        border-color: $grey;
        color: $cyan;
        &:hover {
            background: $cyan;
            color: $white;
        }
    }
    .btn-zaitra-primary {
        border: 1px solid $cyan;
        color: $cyan;

        &:hover {
            background: $cyan;
            color: white;
        }
    }
}
