.section-white {
    background: #ffffff;

    .description {
        color: #919191;
    }
    .header {
        color: #1D1D1D;
    }
    h4 {
        color: #919191;
    }
    .subtitle {
        color: #919191;
    }
    p {
        color: #919191;
    }
    .icon {
        color: #919191
    }
    .link {
        color: #0FB9B1;
    }
    .circle-icon {
        color: #0FB9B1;
    }
    .rounded-circle {
        border: 2px solid #0fb9b0;
    }
    .icon:hover {
        color: #0FB9B1;
    }
    .item-box {
        background: #0FB9B1;
    }
    // media
    .media {
        color: $grey;
        border-color: $grey;
    }
    // buttons
    .btn-outline-primary {
        border-color: $darkGrey;
        color: $darkGrey;
        &:hover {
            background: $darkGrey;
            color: $white;
        }
    }
}
