RewriteEngine On

# Redirect to Laravel's public folder
#RewriteCond %{THE_REQUEST} /public/([^\s?]*) [NC]
#RewriteRule ^ %1 [L,NE,R=302]
#RewriteRule ^((?!public/).*)$ public/$1 [L,NC]

RewriteCond %{REQUEST_URI} !^/public/
RewriteRule ^(.*)$ /public/$1 [L,QSA]

# https
#RewriteCond %{HTTP:X-Forwarded-Proto} !=https
#RewriteRule ^.*$ https://%{SERVER_NAME}%{REQUEST_URI} [L,R]
