// navbar
.navbar-zaitra {
    background: none;
    padding: .3rem 1rem;
    .navbar-nav {
        .nav-link {
            color: white;
            font-size: 1.2rem;
            padding: 0 0.8rem;
        }
        .active {
            & > .nav-link {
                color: $cyan;
            }
        }
    }
    &.fade-in {
        background: $darkGrey!important;
    }
}

@media (min-width: 992px) {
    .nav-item {
        &:not(:first-child) {
            &:after  {
                content: "";
                position: absolute;
                top: 0;
                bottom: 0;
                border-right: 2px solid white;
                height: 22%;
                margin: auto;
            }
        }
    }
}

section {
    padding: 40px 0 100px;
}

.section-same-padding {
	padding: 40px 0 40px;
}

.item-box {
	padding: 35px;
	display: flex;
    align-items: center;
	justify-content: center;
	margin-top: 20px;
    min-height: 140px;
    img {
        max-width: 8rem;
    }
}

.header {
    font-size: 3em;
    text-transform: uppercase;
    padding: 10px 0 30px;
}

.rounded-circle {
	max-width: 8rem;
	transition: all .2s ease-in-out;
}

section h4 {
	font-size: 1.3em;
	margin-top: 30px;
	padding-bottom: 10px;
	font-weight: 600;
}

.description {
    font-size: 1.4em;
    /* padding-bottom: 2em; */
}

.subtitle {
	font-size: 0.9em;
    margin-top: -5px;
    font-style: italic;
}

img {
	width: 100%;
}

.white {
    color: #ffffff!important;
}

.dark-grey {
    color: #1D1D1D!important;
}

.grey {
	color: #919191!important;
}

.cyan {
    color: #0FB9B1!important;
}

.yellow {
	color: #ffbd15!important;
}

.same-height {
	align-items: center;
	display: flex;
	display: -webkit-flex;
	flex-wrap: wrap;
}

.rounded-circle:hover {
    transform: scale(1.1);
}

.icon {
    margin-top: 10px;
    transition: all .5s ease-in-out;
}

@media (max-width: 992px) {
	.row-team > div {
        margin-top: 3rem;
    }
}

/* Map */

.map {
    padding: 0;
}

.mapouter {
    height: 50vh!important;
}

@media (min-width: 992px) {
	.trophy-row > div:first-child {
		text-align: right;
	}
}

@media (max-width: 768px) {
    .hackathon {
        margin-top: 20px;
	}
	.trophy-row > div:nth-child(3) {
		margin-top: 1.2rem;
	}
}
@media (min-width: 768px) {
    .fa-trophy {
        text-align: right;
    }
}

/* Footer */

footer {
    padding: 20px 0;
}

.social {
    margin-top: 20px;
}

.social-i {
    color: #0FB9B1;
}
