.section-cyan {
	background: #0FB9B1;
}

.section-cyan .header {
	color: #ffffff;
}

.section-cyan h4 {
    color: #ffffff;
}

.section-cyan .img-circle {
    border: 2px solid #ffffff;
}

.section-cyan .circle-icon {
    color: #1D1D1D;
}

.section-cyan .item-box {
    background: #ffffff;
}

.section-cyan p {
	color: white;
}

.section-cyan i {
	color: #ffffff;
}
