 /*
 * GREY
 */
 .section-grey {
	background: #1D1D1D;
}

.section-grey .header {
	color: #0FB9B1;
}

.section-grey h4 {
	color: #ffffff;
}

.section-grey p {
	color: #919191;
}

.section-grey .icon {
	color: #919191
}

.section-grey .link {
    color: #0FB9B1;
}

.section-grey .circle-icon {
    color: #0FB9B1;
}

.section-grey .subtitle {
	color: #ffffff;
}

.section-grey .rounded-circle {
    border: 2px solid #0fb9b0;
}
.section-grey .icon:hover {
	color: #0FB9B1;
}

.section-grey .subtitle {
	color: #ffffff;
}
